In [ ]:
def square(nums):
    return nums**2

In [7]:
Mano_skaiciai = [1,2,5,45,84]

In [8]:
map(square,Mano_skaiciai)

NameError: name 'square' is not defined

In [6]:
list(map(square,my_numbers))

NameError: name 'square' is not defined

In [9]:
def splicer(mystring):
    if len(mystring) %2 == 0:
        return 'even'
    else:
        return mystring[0]

In [10]:
mynames = ['Jonas', 'Angele']

In [13]:
list(map(splicer,mynames))

['J', 'even']

In [14]:
def check_even(num):
    return num % 2 == 0

In [15]:
nums = [4000,1,2859,3,4,51,6,76,18,9,10]

In [16]:
filter(check_even,nums)

In [17]:
list(filter(check_even,nums))

[4000, 4, 6, 76, 18, 10]

In [18]:
def square(num): return num**2

In [19]:
square(541)

292681

In [22]:
dauginti_is_dvieju = lambda x: x * 2
print(dauginti_is_dvieju(250))  # 10

500

In [23]:
pardavimai = [
    {'produktas': 'A', 'kiekis': 5},
    {'produktas': 'B', 'kiekis': 2000},
    {'produktas': 'C', 'kiekis': 180}
]
 
rikiuota = sorted(pardavimai, key=lambda x: x['kiekis'], reverse=True)
print(rikiuota)

[{'produktas': 'B', 'kiekis': 2000}, {'produktas': 'C', 'kiekis': 180}, {'produktas': 'A', 'kiekis': 5}]

In [ ]:
eur_kainos = [10, 20, 30, 80, 4, 499]
usd_kainos = list(map(lambda x: round(x * 1.1836, 2), eur_kainos))  # tarkime 1 EUR = 1.1836 USD
print(usd_kainos)

[11.84, 23.67, 35.51, 94.69, 4.73, 590.62]

In [26]:
cart = ["Milk", "Bread"]
cart.append("Eggs")
print("Po append:", cart)
 
cart.extend(["Butter", "Cheese"])
print("Po extend:", cart)
 
cart.insert(1, "Apples")
print("Po insert:", cart)

Po append: ['Milk', 'Bread', 'Eggs']
Po extend: ['Milk', 'Bread', 'Eggs', 'Butter', 'Cheese']
Po insert: ['Milk', 'Apples', 'Bread', 'Eggs', 'Butter', 'Cheese']

In [27]:
cart = ["Milk", "Bread", "Eggs", "Bread"]
cart.remove("Bread")
print("Po remove:", cart)
 
last_item = cart.pop()  # pašalinti paskutinį
print("Po pop:", cart, "Pašalinta:", last_item)
 
cart.clear()
print("Po clear:", cart)

Po remove: ['Milk', 'Eggs', 'Bread']
Po pop: ['Milk', 'Eggs'] Pašalinta: Bread
Po clear: []

In [28]:
order_lines = [
    {"product": "Milk", "qty": 2, "price": 1.50},
    {"product": "Bread", "qty": 1, "price": 0.99},
    {"product": "Cheese", "qty": 1, "price": 4.20},
    {"product": "Eggs", "qty": 3, "price": 0.80},
]
 
for line in order_lines:
    line["line_total"] = line["qty"] * line["price"]
 
top3 = sorted(order_lines, key=lambda x: x["line_total"], reverse=True)[:3]
top3

[{'product': 'Cheese', 'qty': 1, 'price': 4.2, 'line_total': 4.2},
 {'product': 'Milk', 'qty': 2, 'price': 1.5, 'line_total': 3.0},
 {'product': 'Eggs', 'qty': 3, 'price': 0.8, 'line_total': 2.4000000000000004}]

In [29]:
orders = [
    (1001, "C001", 59.90),
    (1002, "C002", 12.50),
    (1003, "C001", 120.00),
]
 
total = 0
for order_id, customer_id, amount in orders:
    total += amount
 
print("Pajamos iš viso:", total)

Pajamos iš viso: 192.4