1 dalis: Kintamieji ir matematiniai skaičiavimai.

1. Sukurkite kintamuosius ir apskaičiuokite dienos uždarbį.

In [1]:
valandos = 8
atlygis = 20
dienos_uzdarbis = valandos * atlygis
print(dienos_uzdarbis)

160

2. Pritaikykite 15% nuolaidą prekei, kurios kaina 120 €.

In [2]:
kaina = 120
nuolaida = 15
nuolaidine_kaina = kaina * ( 1 -  nuolaida / 100)
print(nuolaidine_kaina)

102.0

3. Apskaičiuokite mėnesio algą (160 val. × 12 €/val.).

In [3]:
val = 160
eur_per_h = 12
menesio_atlyginimas = val * eur_per_h
print(menesio_atlyginimas)

1920

4. Apskaičiuokite pelną, jei savikaina 40 €, o pardavimo kaina 65 €.

In [4]:
savikaina = 40
kaina = 65
pelnas = kaina - savikaina
print(pelnas)

25

5. Apskaičiuokite kainą be PVM (121 € su 21% PVM).

In [5]:
kaina_su_pvm = 121
pvm = 21
kaina_be_pvm = kaina_su_pvm / (1 + pvm / 100)
print(kaina_be_pvm)

100.0

6. Apskaičiuokite pelną po metų su 5% palūkanomis nuo 1000 €.

In [6]:
indelis = 1000
palukanos = 5
is_viso_po_metu = indelis * (1 + palukanos / 100)
print(is_viso_po_metu)

1050.0

7. Apskaičiuokite pažymių [7, 8, 9] vidurkį.

In [7]:
pazymiai = [7, 8 , 9]
pazymiu_vidurkis = sum(pazymiai) / len(pazymiai)
print(pazymiu_vidurkis)

8.0

8. Apskaičiuokite, kiek procentų liko negrąžintos paskolos (1000 € – 350 € grąžinta).

In [8]:
visa_paskola = 1000
grazinta = 350
likutis = visa_paskola - grazinta
likutis_procentais = (likutis / visa_paskola) * 100
print(likutis_procentais)

65.0

9. Apskaičiuokite trikampio plotą (pagrindas 6, aukštis 4).

In [9]:
pagrindas = 6
aukstis = 4
trikampio_plotas = pagrindas * aukstis / 2
print(trikampio_plotas)

12.0

10. Apskaičiuokite bendrą dviejų prekių (3.50 € ir 4.20 €) kainą.

In [10]:
preke_1 = 3.5
preke_2 = 4.2
bendra_kaina = preke_1 + preke_2
print(bendra_kaina)

7.7

2 dalis: Teksto (string) metodai

11. Išveskite žodį didžiosiomis raidėmis.

In [11]:
zodis = "abracadabra"
print(zodis.upper())

ABRACADABRA

12. Išveskite sakinį mažosiomis raidėmis.

In [12]:
sakinys = "CARL LOVES COTTON CANDY"
print(sakinys.lower())

carl loves cotton candy

13. Suskaičiuokite simbolių kiekį varde.

In [13]:
vardas = "Karlsonas"
raidziu_kiekis = len(vardas)
print(raidziu_kiekis)

9

14. Padalinkite sakinį į žodžius ir parodykite pirmą žodį.

In [14]:
sakinys = "Black tea is the best tea"
sakinio_zodziai = sakinys.split()
print(sakinio_zodziai[0])

Black

15. Sujunkite du žodžius į vieną su tarpu.

In [15]:
zodis_a = "Good"
zodis_b = "Evening"
print(f"{zodis_a} {zodis_b}")

Good Evening

16. Sukurkite el. pašto adresą iš vardo ir pavardės.

In [16]:
vardas = "Vincas"
pavarde = "Kudirka"
print(f"{vardas.lower()}.{pavarde.lower()}@gmail.com")

vincas.kudirka@gmail.com

17. Patikrinkite, ar žodyje yra raidė „a“.

In [17]:
zodis = "Kanada"
print("a" in zodis)

True

In [18]:
zodis = "Kompiuteris"
if "a" in zodis:
    print("Raidė rasta!")
else:
    print("Raidės šiame žodyje nėra.")

Raidės šiame žodyje nėra.

In [19]:
zodis = input("Irasykite savo zodis cia: ")
if 'a' in zodis:
    print("zodyje yra 'a' raide")
else:
    print("sitame zodyje nera 'a' raides")

zodyje yra 'a' raide

18. Pakeiskite visus simbolius „a“ į „*“.

In [20]:
a = "ananasas"
print(a.replace('a', '*'))

*n*n*s*s

19. Išskirkite metus, mėnesį ir dieną iš datos „2025-06-01“.

In [21]:
data = "2025-06-01"
metai, menuo, diena = data.split("-")
print(f"Metai: {metai}, menuo: {menuo}, diena: {diena}")

Metai: 2025, menuo: 06, diena: 01

20. Išveskite pirmą ir paskutinį simbolį iš vardo.

In [22]:
vardas = "Aleksandras"
pirma_paskutine = vardas[0] + vardas[-1]
print(pirma_paskutine)

As

3 dalis: Sąlygos su if / else

21. Patikrinkite, ar skaičius yra teigiamas, neigiamas ar nulis.

In [23]:
skaicius = int(input("Įveskite skaičių: "))
if skaicius > 0:
    print("skaicius teigiamas")
elif skaicius < 0:
    print("skaicius neigiamas")
else:
    print("nulis")

skaicius teigiamas

22. Įveskite amžių ir nustatykite, ar asmuo pilnametis.

In [24]:
amzius = int(input("Iveskite savo amziu: "))
if amzius >= 18:
    print("asmuo pilnametis")
else: 
    print("asmuo nepilnametis")

asmuo pilnametis

23. Patikrinkite, ar skaičius yra lyginis ar nelyginis.

In [25]:
skaicius = int(input("Įveskite skaičių: "))
if skaicius % 2 == 0:
    print("skaicius yra lyginis")
else:
    print("skaicius yra nelyginis")

skaicius yra nelyginis

24. Įveskite vardą – jei „admin“, pasisveikinkite kaip su administratoriumi.

In [26]:
vardas = input("Iveskite savo varda cia: ").lower().strip()
if vardas == "admin":
    print("Sveiki, administratoriau")
else:
    print(f"Sveiki, {vardas}")

Sveiki, administratoriau

25. Įveskite temperatūrą: jei >25 – „karšta“, tarp 10–25 – „normali“, kitaip – „šalta“.

In [27]:
temperatura = float(input("Iveskite temperatura cia: "))
if temperatura >25:
    print("karsta")
elif temperatura >= 10:
    print("normali")
else:
    print("salta")

normali