1 dalis: Kintamieji ir matematiniai skaičiavimai.

1. Sukurkite kintamuosius ir apskaičiuokite dienos uždarbį.

In [1]:
hours = 8
wage = 20
daily_earnings = hours * wage
print(daily_earnings)

160

2. Pritaikykite 15% nuolaidą prekei, kurios kaina 120 €.

In [2]:
price = 120
discount = 15
discounted_price = price * (1 - discount / 100)
print(discounted_price)

102.0

3. Apskaičiuokite mėnesio algą (160 val. × 12 €/val.).

In [3]:
hours = 160
eur_per_hour = 12
monthly_salary = hours * eur_per_hour
print(monthly_salary)

1920

4. Apskaičiuokite pelną, jei savikaina 40 €, o pardavimo kaina 65 €.

In [4]:
savikaina = 40
kaina = 65
pelnas = kaina - savikaina
print(pelnas)

25

5. Apskaičiuokite kainą be PVM (121 € su 21% PVM).

In [5]:
price_with_vat = 121
vat = 21
price_without_vat = price_with_vat / (1 + vat / 100)
print(price_without_vat)

100.0

6. Apskaičiuokite pelną po metų su 5% palūkanomis nuo 1000 €.

In [6]:
deposit = 1000
interest_rate = 5
total_after_one_year = deposit * (1 + interest_rate / 100)
print(total_after_one_year)

1050.0

7. Apskaičiuokite pažymių [7, 8, 9] vidurkį.

In [7]:
grades = [7, 8, 9]
average_grade = sum(grades) / len(grades)
print(average_grade)

8.0

8. Apskaičiuokite, kiek procentų liko negrąžintos paskolos (1000 € – 350 € grąžinta).

In [8]:
total_loan = 1000
repaid_amount = 350
remaining_balance = total_loan - repaid_amount
remaining_percentage = (remaining_balance / total_loan) * 100
print(remaining_percentage)

65.0

9. Apskaičiuokite trikampio plotą (pagrindas 6, aukštis 4).

In [9]:
base = 6
height = 4
triangle_area = base * height / 2
print(triangle_area)

12.0

10. Apskaičiuokite bendrą dviejų prekių (3.50 € ir 4.20 €) kainą.

In [10]:
product_1 = 3.5
product_2 = 4.2
total_price = product_1 + product_2
print(total_price)

7.7

2 dalis: Teksto (string) metodai

11. Išveskite žodį didžiosiomis raidėmis.

In [11]:
word = "abracadabra"
print(word.upper())

ABRACADABRA

12. Išveskite sakinį mažosiomis raidėmis.

In [12]:
sentence = "CARL LOVES COTTON CANDY"
print(sentence.lower())

carl loves cotton candy

13. Suskaičiuokite simbolių kiekį varde.

In [13]:
name = "Karlsonas"
letter_count = len(name)
print(letter_count)

9

14. Padalinkite sakinį į žodžius ir parodykite pirmą žodį.

In [14]:
sentence = "Black tea is the best tea"
words_in_sentence = sentence.split()
print(words_in_sentence[0])

Black

15. Sujunkite du žodžius į vieną su tarpu.

In [15]:
word_a = "Good"
word_b = "Evening"
print(f"{word_a} {word_b}")

Good Evening

16. Sukurkite el. pašto adresą iš vardo ir pavardės.

In [16]:
first_name = "Vincas"
last_name = "Kudirka"
print(f"{first_name.lower()}.{last_name.lower()}@gmail.com")

vincas.kudirka@gmail.com

17. Patikrinkite, ar žodyje yra raidė „a“.

In [17]:
word = "Kanada"
print("a" in word)

True

In [18]:
word = "Kompiuteris"
if "a" in word:
    print("Letter found!")
else:
    print("The letter is not in this word.")

The letter is not in this word.

In [19]:
word = input("Enter your word here: ")
if "a" in word:
    print("The word contains the letter 'a'")
else:
    print("The word does not contain the letter 'a'")

The word contains the letter 'a'

18. Pakeiskite visus simbolius „a“ į „*“.

In [20]:
word = "ananasas"
print(word.replace("a", "*"))

*n*n*s*s

19. Išskirkite metus, mėnesį ir dieną iš datos „2025-06-01“.

In [21]:
date = "2025-06-01"
year, month, day = date.split("-")
print(f"Year: {year}, Month: {month}, Day: {day}")

Year: 2025, Month: 06, Day: 01

20. Išveskite pirmą ir paskutinį simbolį iš vardo.

In [22]:
name = "Aleksandras"
first_and_last = name[0] + name[-1]
print(first_and_last)

As

3 dalis: Sąlygos su if / else

21. Patikrinkite, ar skaičius yra teigiamas, neigiamas ar nulis.

In [23]:
number = int(input("Enter a number: "))
if number > 0:
    print("The number is positive")
elif number < 0:
    print("The number is negative")
else:
    print("Zero")

The number is positive

22. Įveskite amžių ir nustatykite, ar asmuo pilnametis.

In [24]:
age = int(input("Enter your age: "))
if age >= 18:
    print("The person is an adult")
else:
    print("The person is a minor")

The person is an adult

23. Patikrinkite, ar skaičius yra lyginis ar nelyginis.

In [25]:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

The number is odd

24. Įveskite vardą – jei „admin“, pasisveikinkite kaip su administratoriumi.

In [26]:
name = input("Enter your name here: ").lower().strip()
if name == "admin":
    print("Hello, Administrator")
else:
    print(f"Hello, {name}")

Hello, itanas

25. Įveskite temperatūrą: jei >25 – „karšta“, tarp 10–25 – „normali“, kitaip – „šalta“.

In [27]:
temperature = float(input("Enter the temperature here: "))
if temperature > 25:
    print("hot")
elif temperature >= 10:
    print("normal")
else:
    print("cold")

normal