In [1]:
sales_lines = [
    {"channel": "online",  "product": "Milk",   "qty": 2, "unit_price": 1.50, "discount": 0.00},
    {"channel": "online",  "product": "Bread",  "qty": 1, "unit_price": 0.99, "discount": 0.10},
    {"channel": "direct",  "product": "Eggs",   "qty": 3, "unit_price": 0.80, "discount": 0.00},
    {"channel": "partner", "product": "Butter", "qty": 1, "unit_price": 2.20, "discount": 0.05},
]
print(sales_lines)

[{'channel': 'online', 'product': 'Milk', 'qty': 2, 'unit_price': 1.5, 'discount': 0.0}, {'channel': 'online', 'product': 'Bread', 'qty': 1, 'unit_price': 0.99, 'discount': 0.1}, {'channel': 'direct', 'product': 'Eggs', 'qty': 3, 'unit_price': 0.8, 'discount': 0.0}, {'channel': 'partner', 'product': 'Butter', 'qty': 1, 'unit_price': 2.2, 'discount': 0.05}]

In [2]:
def line_total(qty, unit_price, discount=0.0):
    return round(qty * unit_price * (1 - discount), 2)
 
print(line_total(2, 1.50, 0.00))
print(line_total(1, 0.99, 0.10))

3.0
0.89

In [3]:
nums = [10, 5, 20]
 
print("len:", len(nums))
print("sum:", sum(nums))
print("min:", min(nums))
print("max:", max(nums))
print("sorted:", sorted(nums))
print("type:", type(nums))

len: 3
sum: 35
min: 5
max: 20
sorted: [5, 10, 20]
type: <class 'list'>

In [5]:
def add(a, b):
    return a + b
print(add(25, 13))
print(add(120, 56))

38
176

In [6]:
def print_kpi(name, value):
    print("KPI:", name, "| Reikšmė:", value)
 
result = print_kpi("Revenue", 1200)
print("Funkcijos grąžinimas:", result)

KPI: Revenue | Reikšmė: 1200
Funkcijos grąžinimas: None

In [7]:
def multiply(a, b):
    return a * b
 
print(multiply(3, 4))

12

In [8]:
def add_vat(amount, vat_rate=0.21):
    return round(amount * (1 + vat_rate), 2)
 
print(add_vat(100))
print(add_vat(100, vat_rate=0.09))

121.0
109.0

In [9]:
def safe_divide(a, b):
    if b == 0:
        return None
    return a / b
 
print(safe_divide(10, 2))
print(safe_divide(10, 0))

5.0
None

In [10]:
def customer_segment(total_spent):
    if total_spent >= 200:
        return "Aukštos vertės"
    elif total_spent >= 100:
        return "Vidutinės vertės"
    elif total_spent > 0:
        return "Žemos vertės"
    else:
        return "Neteisinga suma"
 
print(customer_segment(250))
print(customer_segment(120))
print(customer_segment(20))
print(customer_segment(0))

Aukštos vertės
Vidutinės vertės
Žemos vertės
Neteisinga suma

In [11]:
def suma(*skaiciai):
    print(f"Argumentai: {skaiciai}")
    return sum(skaiciai)
 
print(suma(1, 2, 3))
print(suma(5, 10, 15, 20))

Argumentai: (1, 2, 3)
6
Argumentai: (5, 10, 15, 20)
50

In [12]:
def rodyti_info(**kwargs):
    for raktas, reiksme in kwargs.items():
        print(f"{raktas}: {reiksme}")
 
rodyti_info(vardas="Jonas", amzius=30, miestas="Panevėžys")

vardas: Jonas
amzius: 30
miestas: Panevėžys

In [13]:
def visa_info(vardas, *hobiai, **kontaktai):
    print(f"Vardas: {vardas}")
    print("Hobiai:", hobiai)
    print("Kontaktai:")
    for raktas, reiksme in kontaktai.items():
        print(f"  {raktas}: {reiksme}")
 
visa_info("Jonė", "dailė", "joga", "katės", "bėgimas", "kelionės", elpastas="jone45893@gmail.com", miestas="Jonava")

Vardas: Jonė
Hobiai: ('dailė', 'joga', 'katės', 'bėgimas', 'kelionės')
Kontaktai:
  elpastas: jone45893@gmail.com
  miestas: Jonava

In [1]:
def skaiciuoti_vidurki():
    duomenys = [10, 20, 30]
    vidurkis = sum(duomenys) / len(duomenys)
    print("Vidurkis:", vidurkis)
 
skaiciuoti_vidurki()
# print(vidurkis)  #  klaida – 'vidurkis' neegzistuoja už funkcijos ribų

Vidurkis: 20.0

In [2]:
imones_pavadinimas = "DataSuperPro"
 
def spausdinti_pavadinima():
    print("Įmonė:", imones_pavadinimas)
 
spausdinti_pavadinima()

Įmonė: DataSuperPro

In [3]:
balansas = 1000
 
def papildyti_balansa(suma):
    global balansas
    balansas += suma
    print("Atnaujintas balansas:", balansas)
 
papildyti_balansa(500)
print("Galutinis balansas:", balansas)

Atnaujintas balansas: 1500
Galutinis balansas: 1500

In [ ]:
def papildyti_balansa_teisingai(balansas, suma):
    return balansas + suma
 
balansas = 1000
balansas = papildyti_balansa_teisingai(balansas, 300)
print("Galutinis balansas:", balansas)

In [4]:
def skaiciuoti_konversija(parodymai, paspaudimai):
    konversija = round((paspaudimai / parodymai) * 100,2)
    return konversija
 
rezultatas = skaiciuoti_konversija(10000, 1450)
print("Konversija: ", rezultatas, "%")

Konversija:  14.5 %