In [1]:
miestai = ['Vilnius', 'Kaunas', 'Klaipėda', 'Vilnius', 1, True, None]
print("Miestų sąrašas:", miestai)
print("Pirmas miestas:", miestai[:-1])

Miestų sąrašas: ['Vilnius', 'Kaunas', 'Klaipėda', 'Vilnius', 1, True, None]
Pirmas miestas: ['Vilnius', 'Kaunas', 'Klaipėda', 'Vilnius', 1, True]

In [2]:
print(miestai)

['Vilnius', 'Kaunas', 'Klaipėda', 'Vilnius', 1, True, None]

In [ ]:
duomenys = [
    ('ID001', 'Jonas', 'Vilnius', 150.0),
    ('ID002', 'Ona', 'Kaunas', 200.0),
    ('ID003', 'Petras', 'Klaipėda', 175.0),
    ('ID004', 'Jonas', 'Vilnius', 180.0)
]
 
df = "pd.DataFrame(duomenys, columns=['ID', 'Vardas', 'Miestas', 'Pardavimai'])
print(df)
 
# Kiek unikalių klientų vardų
print("Unikalūs vardai:", set(df['Vardas']))
 
# Pardavimų suma per miestus
print("Pardavimai pagal miestą:")
print(df.groupby('Miestas')['Pardavimai'].sum())

NameError: name 'pd' is not defined

In [4]:
# Sukurti tuple (tuplą) su apvaliais skliaustais
kpi = ("Revenue", 125000.0, "EUR")
 
# Atspausdinti
print(kpi)
print(type(kpi))
 
# Prieiti prie elementų pagal indeksą (nuo 0)
print("Pavadinimas:", kpi[0])
print("Reikšmė:", kpi[1])
print("Valiuta:", kpi[2])

('Revenue', 125000.0, 'EUR')
<class 'tuple'>
Pavadinimas: Revenue
Reikšmė: 125000.0
Valiuta: EUR

In [5]:
# Modeliuoti užsakymus: (order_id, customer_id, amount)
orders = [
    (1001, "C001", 59.90),
    (1002, "C002", 12.50),
    (1003, "C001", 120.00),
]
 
# Suskaičiuoti pajamų sumą
total_revenue = sum(amount for _, _, amount in orders)
print("Pajamos iš viso:", total_revenue)

Pajamos iš viso: 192.4

In [6]:
kpi = ("Revenue", 125000.0, "EUR")
 
# Pabandžius keisti elementą bus klaida (palikti kaip komentarą demonstracijai)
# kpi[1] = 130000.0
 
# Pakeitimui atlikti per list -> tuple
kpi_list = list(kpi)
kpi_list[1] = 130000.0
kpi_updated = tuple(kpi_list)
 
print("Senas:", kpi)
print("Naujas:", kpi_updated)

Senas: ('Revenue', 125000.0, 'EUR')
Naujas: ('Revenue', 130000.0, 'EUR')

In [7]:
kpi = ("Revenue", 130000.0, "EUR")
name, value, currency = kpi
print(name, value, currency)
 
# Ignoruoti valiutą
name2, value2, _ = kpi
print(name2, value2)

Revenue 130000.0 EUR
Revenue 130000.0

In [8]:
# Sukurti set su riestiniais skliaustais
channels = {"online", "direct", "partner"}
 
print(channels)
print(type(channels))
 
# Patikrinti narystę (greita operacija)
print("online" in channels)
print("phone" in channels)

{'partner', 'direct', 'online'}
<class 'set'>
True
False

In [9]:
customer_ids = ["C001", "C002", "C001", "C003", "C002", "C004"]
unique_customers = set(customer_ids)
 
print("Unikalūs klientai:", unique_customers)
print("Unikalių klientų skaičius:", len(unique_customers))

Unikalūs klientai: {'C004', 'C001', 'C003', 'C002'}
Unikalių klientų skaičius: 4

In [10]:
unique_customers_sorted = sorted(unique_customers)

print(unique_customers_sorted)

['C001', 'C002', 'C003', 'C004']

In [11]:
allowed_countries = {"LT", "LV", "EE"}

allowed_countries.add("PL")

print(allowed_countries)

 

# remove: klaida, jei elemento nėra

# allowed_countries.remove("DE")

 

# discard: saugu, jei elemento nėra

allowed_countries.discard("DE")

print(allowed_countries)

{'LT', 'EE', 'PL', 'LV'}
{'LT', 'EE', 'PL', 'LV'}

In [12]:
online_buyers = {"C001", "C002", "C005"}
direct_buyers = {"C001", "C003", "C004"}
 
print("Bent vienas kanalas (sąjunga):", online_buyers | direct_buyers)
print("Abu kanalai (sankirta):", online_buyers & direct_buyers)
print("Tik online:", online_buyers - direct_buyers)
print("Tik viename kanale (simetrinis skirtumas):", online_buyers ^ direct_buyers)

Bent vienas kanalas (sąjunga): {'C003', 'C004', 'C005', 'C001', 'C002'}
Abu kanalai (sankirta): {'C001'}
Tik online: {'C005', 'C002'}
Tik viename kanale (simetrinis skirtumas): {'C005', 'C003', 'C004', 'C002'}

In [13]:
banned_categories = {"Alcohol", "Tobacco", "Weapons"}  # Pavyzdinės kategorijos
 
orders_categories = [
    (1001, {"Food", "Household"}),
    (1002, {"Alcohol", "Food"}),
    (1003, {"Electronics"}),
    (1004, {"Tobacco"}),
]
 
flagged_orders = []
for order_id, cats in orders_categories:
    # Patikrinti sankirtą: ar yra bent viena draudžiama kategorija
    if cats & banned_categories:
        flagged_orders.append(order_id)
 
print("Pažymėti užsakymai:", flagged_orders)

Pažymėti užsakymai: [1002, 1004]

In [14]:
orders_items = {
    1001: {"Milk", "Bread", "Eggs"},
    1002: {"Bread", "Butter"},
    1003: {"Milk", "Bread"},
    1004: {"Eggs", "Flour", "Sugar"},
    1005: {"Milk", "Bread", "Butter"},
}
 
# Suskaičiuoti, kiek užsakymų turi ir Milk, ir Bread
target_bundle = {"Milk", "Bread"}
count = sum(1 for items in orders_items.values() if target_bundle.issubset(items))
print("Užsakymų su Milk+Bread:", count)

Užsakymų su Milk+Bread: 3