Constructing Tuples

In [1]:
t = (1,2,3)
t

(1, 2, 3)

In [2]:
len(t)

3

In [3]:
t = ("one", 2)
t

('one', 2)

Sets

In [4]:
x = set()

In [5]:
x

set()

In [6]:
x.add(1)

In [7]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [8]:
set(list1)

{1, 2, 3, 4, 5, 6}

In [9]:
a = set(list1)
a

{1, 2, 3, 4, 5, 6}

Booleans

In [10]:
a = True

In [11]:
a

True

In [12]:
# output is boolean
1 > 2

False

In [13]:
b = None

In [14]:
print(b)

None

set ir tuple

In [15]:
# Yra užsakymo duomenys
order = ("ORD-001", "2024-09-01", 120.50)
 
order

('ORD-001', '2024-09-01', 120.5)

In [16]:
order_id = order[0]
order_date = order[1]
order_amount = order[2]
 
order_id, order_date, order_amount

('ORD-001', '2024-09-01', 120.5)

In [17]:
 # Yra prekių sąrašas
products = ("Kėdė", "Stalas", "Lempa", "Spinta", "Lentyna")
 
# Reikia paimti paskutinius tris elementus
item1, item2, item3 = products[-3:]
 
item1, item2, item3

('Lempa', 'Spinta', 'Lentyna')

In [18]:
# Yra klientų ID su pasikartojimais
customer_ids = ["C001", "C002", "C001", "C003", "C002"]
 
unique_customers = set(customer_ids)
unique_customers

{'C001', 'C002', 'C003'}

In [19]:
unique_customers_list = list(unique_customers)
unique_customers_tuple = tuple(unique_customers)
 
unique_customers_list, unique_customers_tuple

(['C002', 'C003', 'C001'], ('C002', 'C003', 'C001'))

In [20]:
campaign_A = {"C001", "C002", "C003"}
campaign_B = {"C002", "C004"}
 
# Klientai, gavę bent vieną kampaniją
campaign_A | campaign_B

{'C001', 'C002', 'C003', 'C004'}

In [21]:
campaign_A & campaign_B

{'C002'}

In [22]:
campaign_A - campaign_B

{'C001', 'C003'}

In [23]:
for customer in unique_customers:
    print("Unikalus klientas:", customer)

Unikalus klientas: C002
Unikalus klientas: C003
Unikalus klientas: C001

Python print() formatting

In [24]:
vardas = "Jonas"
amzius = 25
print("Vardas:", vardas)
print("Amžius:", amzius)

Vardas: Jonas
Amžius: 25

In [25]:
vardas = "Jonas"
amzius = 25
print(f"{vardas} yra {amzius} metų amžiaus")

Jonas yra 25 metų amžiaus

In [26]:
vardas = "Jonas"
amzius = 25
print("{} yra {} metu amziaus".format(vardas, amzius))

Jonas yra 25 metu amziaus

In [27]:
print("Sveiki,", end=" ")
print("kaip sekasi?")

Sveiki, kaip sekasi?

In [28]:
vardas = "Jonas"
amzius = 25
 
# f-string
print(f"{vardas} - {amzius} m.")
 
# format()
print("{} - {} m.".format(vardas, amzius))
 
# klasikinis su kableliais
print(vardas, "-", amzius, "m.")

Jonas - 25 m.
Jonas - 25 m.
Jonas - 25 m.

Tuple

In [29]:
# Pvz.: kliento duomenų struktūra
klientas = ("Jonas", 28, "Vilnius")
vardas, amzius, miestas = klientas
print("Vardas:", vardas)
print("Amžius:", amzius)
print("Miestas:", miestas)

Vardas: Jonas
Amžius: 28
Miestas: Vilnius

In [30]:
# Pvz.: aktyvūs ir registruoti klientai
registruoti = {"Jonas", "Ona", "Petras", "Greta"}
aktyvūs = {"Jonas", "Greta"}
 
# Kas registruoti, bet neaktyvūs?
neaktyvūs = registruoti - aktyvūs
print("Neaktyvūs klientai:", neaktyvūs)

Neaktyvūs klientai: {'Petras', 'Ona'}

In [31]:
# Pvz.: rasti bendrus produktus dviejose rinkose
lt_produktai = {"obuoliai", "bananai", "kriaušės"}
lv_produktai = {"bananai", "kriaušės", "vynuogės"}
 
bendri = lt_produktai & lv_produktai
print("Bendri produktai:", bendri)

Bendri produktai: {'bananai', 'kriaušės'}

In [32]:
# Pvz.: pardavimai pagal (regionas, produktas)
pardavimai = {
    ("Vilnius", "obuoliai"): 150,
    ("Kaunas", "obuoliai"): 200,
    ("Vilnius", "kriaušės"): 180
}
print("Pardavimai Vilniuje (obuoliai):", pardavimai[("Vilnius", "obuoliai")])

Pardavimai Vilniuje (obuoliai): 150

In [33]:
a = {"A", "B", "C"}
b = {"B", "C", "D"}
print(a & b)  # {'B', 'C'}
print(a.intersection(b))

{'C', 'B'}
{'C', 'B'}

In [34]:
klientai = [15, 18, 21, 16]
for amzius in klientai:
    pilnametis = amzius >= 18
    print(f"Amžius: {amzius}, Pilnametis: {pilnametis}")

Amžius: 15, Pilnametis: False
Amžius: 18, Pilnametis: True
Amžius: 21, Pilnametis: True
Amžius: 16, Pilnametis: False

In [35]:
x = 19
if x > 20 and x < 30:
    print("Tarp 20 ir 30")
else:
    print("Ne tarp nurodyto limito")

Ne tarp nurodyto limito