In [1]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [7]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

In [ ]:
# Start sum at zero
list_sum = 0
for num in list1:
    list_sum = list_sum + num
print(list_sum)

55

In [10]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [13]:
tup = (1, 2, 3, 4, 5)
for t in tup:
    print(t)

1
2
3
4
5

In [14]:
d = {'k1':1,'k2':2,'k3':3}

In [15]:
for item in d:
    print(item)

k1
k2
k3

In [16]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [17]:
for k, v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [18]:
list(d.keys())

['k1', 'k2', 'k3']

In [ ]:
sorted(d.keys())

['k1', 'k2', 'k3']