In [3]:
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

In [4]:
my_list = ['one','two','three', 4, 5]

In [8]:
my_list = ['A string', 23, 100.232, 'o']

In [2]:
my_list[0]

'A string'

In [9]:
my_list[:3]

['A string', 23, 100.232]

In [10]:
my_list = my_list + ['new item']

In [11]:
my_list

['A string', 23, 100.232, 'o', 'new item']

In [13]:
my_list * 3

['A string',
 23,
 100.232,
 'o',
 'new item',
 'A string',
 23,
 100.232,
 'o',
 'new item',
 'A string',
 23,
 100.232,
 'o',
 'new item']

In [31]:
list1 = [1, 2, 3]

In [38]:
list1.append('append me!')

In [39]:
list1

[2, 3, 'append me!']

In [33]:
list1.pop(0)

1

In [35]:
popped_item = list1.pop()

In [36]:
popped_item

'append me!'

In [40]:
new_list = ['a','e','x','b','c']

In [41]:
new_list.reverse()

In [42]:
new_list.sort()

In [43]:
new_list

['a', 'b', 'c', 'e', 'x']

In [45]:
# Let's make three lists

lst_1=[1,2,3]

lst_2=[4,5,6]

lst_3=[7,8,9]

# Make a list of lists to form a matrix

matrix = [lst_1,lst_2,lst_3]

In [46]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [48]:
matrix[0]

[1, 2, 3]

In [49]:
matrix[0][0]

1

In [50]:
vaisiai = ["obuolys", "bananas", "kriause"]
print(vaisiai)

['obuolys', 'bananas', 'kriause']

In [51]:
vaisiai.append('apelsinai')
vaisiai

['obuolys', 'bananas', 'kriause', 'apelsinai']

In [52]:
vaisiai.insert(1,'citrina')
vaisiai

['obuolys', 'citrina', 'bananas', 'kriause', 'apelsinai']

In [53]:
vaisiai.extend(["vynuoge", "persikas"])
print(vaisiai)  # Prideda kelis

['obuolys', 'citrina', 'bananas', 'kriause', 'apelsinai', 'vynuoge', 'persikas']

In [55]:
vaisiai.remove('bananas')
vaisiai

['obuolys', 'citrina', 'kriause', 'apelsinai', 'vynuoge', 'persikas']

In [56]:
vaisiai.pop()
vaisiai

['obuolys', 'citrina', 'kriause', 'apelsinai', 'vynuoge']

In [ ]:
print(vaisiai[0])

obuolys

In [58]:
vaisiai[1] = 'kivis'
print(vaisiai)

['obuolys', 'kivis', 'kriause', 'apelsinai', 'vynuoge']

In [59]:
print(vaisiai.index('vynuoge'))

4

In [60]:
vaisiai.sort()
vaisiai

['apelsinai', 'kivis', 'kriause', 'obuolys', 'vynuoge']

In [61]:
vaisiai.reverse()
vaisiai

['vynuoge', 'obuolys', 'kriause', 'kivis', 'apelsinai']

In [63]:
vaisiai.clear()
vaisiai

[]

DICTIONARIES

In [64]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [65]:
my_dict['key2']

'value2'

In [1]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [2]:
my_dict['key3'][0]

'item0'

In [3]:
my_dict['key3'][0].upper()

'ITEM0'

In [4]:
my_dict['key1']

123

In [7]:
my_dict['key1'] = my_dict['key1'] - 123
my_dict

{'key1': -246, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [8]:
d = {}

In [9]:
d['anaima'] = 'dog'

In [10]:
d['answer'] = 42

In [11]:
d

{'anaima': 'dog', 'answer': 42}

Nesting with Disctionaries

In [12]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [13]:
# keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

A few Disctionarie Methods

In [14]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [15]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [16]:
d.values()

dict_values([1, 2, 3])

In [17]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [4]:
asmuo = {
    "vardas": "Jonas",
    "amzius": 30,
    "miestas": "Vilnius"
}
print(asmuo)

{'vardas': 'Jonas', 'amzius': 30, 'miestas': 'Vilnius'}

In [5]:
print(asmuo['vardas'])
print(asmuo.get('amzius'))

Jonas
30

In [6]:
asmuo["amzius"] = 31
asmuo["el_pastas"] = "jonas@example.com"
print(asmuo)

{'vardas': 'Jonas', 'amzius': 31, 'miestas': 'Vilnius', 'el_pastas': 'jonas@example.com'}

In [7]:
print(asmuo.keys())
print(asmuo.values())
print(asmuo.items())

dict_keys(['vardas', 'amzius', 'miestas', 'el_pastas'])
dict_values(['Jonas', 31, 'Vilnius', 'jonas@example.com'])
dict_items([('vardas', 'Jonas'), ('amzius', 31), ('miestas', 'Vilnius'), ('el_pastas', 'jonas@example.com')])

In [8]:
asmuo.pop('miestas')
print(asmuo)

{'vardas': 'Jonas', 'amzius': 31, 'el_pastas': 'jonas@example.com'}

In [9]:
print("vardas" in asmuo)
print("miestas" in asmuo)

True
False

In [10]:
# KPI pavyzdys: reikšmės pagal pavadinimą
kpi = {
    "revenue": 12500.50,
    "orders": 320,
    "return_rate": 0.035
}
kpi

{'revenue': 12500.5, 'orders': 320, 'return_rate': 0.035}

In [11]:
kpi.get('orders')

320

In [ ]:
kpi.get('profit') # neegzistuoja

In [12]:
transactions = [
    {"region": "LT", "amount": 120.0},
    {"region": "LT", "amount": 80.0},
    {"region": "EE", "amount": 55.0},
    {"region": "LV", "amount": 200.0},
    {"region": "LT", "amount": 40.0},
]
 
sales_by_region = {}
 
for t in transactions:
    region = t["region"]
    amount = t["amount"]
    sales_by_region[region] = sales_by_region.get(region, 0) + amount
 
sales_by_region

{'LT': 240.0, 'EE': 55.0, 'LV': 200.0}

In [13]:
products = {
    "SKU-001": {"name": "Kėdė", "price": 49.99, "stock": 120, "category": "Baldai"},
    "SKU-002": {"name": "Stalas", "price": 149.00, "stock": 35, "category": "Baldai"},
    "SKU-005": {"name": "Lempa", "price": 19.90, "stock": 7, "category": "Apšvietimas"},
}
products

{'SKU-001': {'name': 'Kėdė',
  'price': 49.99,
  'stock': 120,
  'category': 'Baldai'},
 'SKU-002': {'name': 'Stalas',
  'price': 149.0,
  'stock': 35,
  'category': 'Baldai'},
 'SKU-005': {'name': 'Lempa',
  'price': 19.9,
  'stock': 7,
  'category': 'Apšvietimas'}}

In [16]:
sku = "SKU-002"
product_name = products[sku]["name"]
product_stock = products[sku]["stock"]
product_name, product_stock

('Stalas', 35)

In [18]:
low_stock_threshold = 10
 
for sku, info in products.items():
    if info["stock"] < low_stock_threshold:
        print("Mažas likutis:", sku, info["name"], "likutis:", info["stock"])

Mažas likutis: SKU-005 Lempa likutis: 7