1. Create a list with numbers from 1 to 10. Use a for loop and print only the even numbers. Use continue.

In [1]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in list:
    if num % 2 != 0:
        continue
    print(num)

2
4
6
8
10

2. You have a list: ['apple', 'banana', 'cherry', 'date']. Use a for loop and if statements to print the fruits whose length is greater than 5.

In [2]:
fruits = ["apple", "banana", "cherry", "date"]
for fruit in fruits:
    if len(fruit) > 5:
        print(fruit)

banana
cherry

3. Using a while loop, calculate the sum of numbers from 1 to 20. If the sum exceeds 100, stop the loop using break.

In [3]:
total = 0
number = 1
while number <= 20:
    total += number
    if total > 100:
        break
    number += 1
print(total)

105

In [4]:
total_sum = 0
number = 1

while number <= 20:
    total_sum += number
    if total_sum > 100:
        print(f"Sum exceeded 100 (Current sum: {total_sum}). Breaking loop.")
        break
    print(f"Added {number}, current total: {total_sum}")
    number += 1
print(f"Final sum: {total_sum}")

Added 1, current total: 1
Added 2, current total: 3
Added 3, current total: 6
Added 4, current total: 10
Added 5, current total: 15
Added 6, current total: 21
Added 7, current total: 28
Added 8, current total: 36
Added 9, current total: 45
Added 10, current total: 55
Added 11, current total: 66
Added 12, current total: 78
Added 13, current total: 91
Sum exceeded 100 (Current sum: 105). Breaking loop.
Final sum: 105

4. You have a dictionary with students’ grades. Print only those students whose grade is greater than or equal to 8. Use if and for.

In [5]:
d = {"Amy": 8,"Rock": 5,"Arnold": 7,"Sun": 10,"Jim": 9,"Alex": 10}
for student, grade in d.items():
    if grade >= 8:
        print(student, grade)

Amy 8
Sun 10
Jim 9
Alex 10

5. Create a list and remove the last element using pop().

In [6]:
my_list = [10, 20, 30, 40, 50]
my_list.pop()
my_list

[10, 20, 30, 40]

6. Add a new key and value to the dictionary: person = {'name': 'Jonas'}. Add 'age': 25.

In [7]:
person = {"name": "Jonas"}
person["age"] = 25
print(person)

{'name': 'Jonas', 'age': 25}

7. Using a for loop, double each value in the list [2, 4, 6]. The result should be a new list.

In [8]:
num_list = [2, 4, 6]
doubled_list = []
for num in num_list:
    doubled_list.append(num * 2)
print(doubled_list)

[4, 8, 12]

8. Remove all values less than 5 from a list. Use remove() in a loop.

In [9]:
numeric_list = [1, 3, 4, 5, 6, 7, 10]
for number in numeric_list:
    if number < 5:
        numeric_list.remove(number)
print(numeric_list)

[3, 5, 6, 7, 10]

9. Check if the key 'height' exists in the dictionary. If not, add it with the value 180.

In [10]:
measurments = {
    "weight": 80,
    "lengt": 60,
    "width": 15
}
if "height" not in measurments:
    measurments["height"] = 180
print(measurments)

{'weight': 80, 'lengt': 60, 'width': 15, 'height': 180}

In [11]:
measurments = {
    "weight": 80,
    "lengt": 60,
    "width": 15
}
measurments.setdefault("height", 180)
print(measurments)

{'weight': 80, 'lengt': 60, 'width': 15, 'height': 180}

10. You have a list [10, 15, 20, 25]. Use a for loop and if with else to print whether each number is greater than 18 or not.

In [12]:
list_3 = [10, 15, 20, 25]
for number in list_3:
    if number > 18:
        print(f"{number} is greater than 18")
    else:
        print(f"{number} is not greater than 18")

10 is not greater than 18
15 is not greater than 18
20 is greater than 18
25 is greater than 18

11. Naudodami `while` ciklą spausdinkite skaičius nuo 1 iki 5. Jei skaičius lygus 3, praleiskite jį 
(`continue`).

In [13]:
number = 1
while number <= 5:
    if number == 3:
        number += 1  # Important: increase before continue!
        continue
    print(number)
    number += 1

1
2
4
5

12. You have a dictionary with product prices. Create a new dictionary with prices increased by 10%.

In [14]:
products = {
    "meat": 18.50,
    "fish": 7.19,
    "milk": 2.99,
    "eggs": 2.29 
}
increased_prices = {}
for product, price in products.items():
    increased_prices[product] = round(price * 1.10, 2)
print(increased_prices)

{'meat': 20.35, 'fish': 7.91, 'milk': 3.29, 'eggs': 2.52}

13. Create a list with different data types. Use a for loop and if to print only values of type int. Use type().

In [15]:
data_types = [10, "hello", 3.14, 25, True, "Python", 7]
for item in data_types:
    if type(item) == int:
        print(item)

10
25
7

14. Reverse the list [1, 2, 3, 4] using the reverse() method.

In [16]:
list_04 = [1, 2, 3, 4]
list_04.reverse()
print(list_04)

[4, 3, 2, 1]

15. ['a', 'b', 'c', 'd']. Remove the element 'c' using remove() and print the result.

In [17]:
letters = ["a", "b", "c", "d"]
letters.remove("c")
print(letters)

['a', 'b', 'd']